*{
    margin: 0;
    padding: 0;
    color: white;
}
html,body{
  width: 100%;
}
.sc-box{
  width: 100%;
  height: 100vh;
}
/* header */
.header{
    position: fixed;
    width: 100vw;
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.header li{
    list-style: none;
}
.header li a{
    font-size: 1.125rem;
    padding: 1em;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.button{
    position:fixed;
    top: 1.1em;
    left: 2.5em;
}

/* ボタン（アニメーション）*/


/* contents */
.contents h1{
  height: 20vh;
  width: 100vw;
 
  padding: 2em 0 0 0;
  box-sizing: border-box;
  letter-spacing: 0.5em;
  font-size: 2em;
}
.text_line{
  background-color: white;
  width: 7vw;
  height: 0.2vh;
}
/* home */
.home{
    background-color: rgb(85, 85, 85);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2{
    height: 50vh;
    width: 1.5vw;
    position:absolute;
    top: 25%;
    left: 0;
}
.title{
  background-color: black;
  color: white;
  text-align: center;
}
.box3{
    height: 50vh;
    width: 1.5vw;
    position: absolute;
    top: 25%;
    right: 0;
}
/* concept */
.concept{
    background-color: rgb(190, 121, 121);
    height: 100vh;
}
.concept h2{
  padding: 0 0 4vh 0;
}
.concept h1 span{
    display: block;
    font-size: 0.5em;
    color: #999;
    letter-spacing: 1em;
    padding: 0 0 0 4em;
}
.concept1{
  flex-wrap: wrap;
  
}
.concept1_text{
  height: 40vh;
  width: 50vw;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  padding: 6em 0em 9em 9em;
  box-sizing: border-box;
  letter-spacing: 0.2em;
  line-height: 2.5em;
}
.concept1{
  font-size: 0.8em;
}
.concept1_img{
    background-color: rgb(133, 194, 196);
    height: 40vh;
    width: 50vw;
    display: inline-block;
    float: right;
}
.concept2_img{
  background-color: rgb(133, 194, 196);
  height: 40vh;
  width: 50vw;
  display: inline-block;
}
.concept2_text{
  background-color: rgb(0, 0, 0);
  height: 40vh;
  width: 42vw;
  display: inline-block;
  float: right;
  text-align: center;
  display: inline-block;
}
/* menu */
.menu{
    background-color: rgb(85, 19, 19);
    height: 100vh;
    
}
.menu h1 span{
  display: block;
  font-size: 0.5em;
  color: #999;
  letter-spacing: 1em;
  padding: 0 0 0 1.5em;
}
.menu_contents{
  margin: 15vh 19vw;
}
.menu2{
  width: 15vw;
  height: 30vh;
  float: left;
  padding: 10px 30px;
  margin: 10px;
  text-align: center;
  background-color: rgb(163, 163, 163);
  text-decoration: none;
  list-style: none;
}
.menu2 a{
  text-decoration: none;
}
/* access */
.access{
    background-color: rgb(0, 0, 0);
    display: flex;
    display: inline-block;
    height: 97vh;
}
.access h1 span{
  display: block;
  font-size: 0.5em;
  color: #999;
  letter-spacing: 1em;
  padding: 0 0 0 3em;
}
.access_contents{
  display: inline-flex;
  height: 80vh;
  text-align: center;
}
.access_google{
  background-color: rgb(145, 233, 236);
  width: 50vh;
  height: 40vh;
  margin: 10vh;
}
.access_text{
  background-color: rgb(145, 233, 236);
  list-style: none;
  width: 50vh;
  height: 40vh;
  margin: 10vh;
}
.box10{
  text-align: center;
}
/* footer */
footer{
    background-color: rgb(12, 12, 12);
    height: 3vh;
    text-align: center;
}

/* メニューページ */
.menupage{
  width: 100vw;
  background-color: black;
}
.menupageA{
  background-color: firebrick;
  height: 40vh;
  bottom: 0;
  
}
.season_menu{
  background-color: dodgerblue;
  height: 100vh;
}
.season_menu ul{
  margin: 20px 20px 77px 20px;
}
.season_menu li{
  background-color: rgb(181, 181, 202);
  height: 40vh;
  width: 30vh;
  float: left;
  list-style: none;
  margin: 20px 20px 77px 20px;
  height: 49vh;
  width: 40vh;
}
.food{
  background-color: rgb(0, 0, 0);
  height: 100vh;
}
.food ul{
  margin: 30px;
}
.food ul li{
  background-color: rgb(211, 13, 13);
  width: 353px;
  height: 250px;
  float: left;
  margin: 20px 20px 77px 20px;
  list-style: none;
}
.drink{
  background-color: rgb(0, 0, 0);
  height: 88vh;
}
.drink ul{
  margin: 30px;
}
.drink ul li{
  background-color: rgb(211, 13, 13);
  width: 37vh;
  height: 26vh;
  float: left;
  margin: 20px 20px 77px 20px;
  list-style: none;
}
.menupage1 ul{
  list-style: none;
}
.other_menu{
  width: 21vh;
  height: 2.5vh;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 1.1em;
  text-align: center;
  letter-spacing: 0.5em;
  display: inline-block;
  margin: 0 0 40px 495px;
  padding: 10px;
}